@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    background-color: black;
}

.perfilPic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.searchbtn{
    position: absolute;
    right: 0px;
    z-index: 100;
}
.searchBar{
    position: absolute;
    height: 45px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.search{
    margin-right:20%;
    margin-left: 25%;
    margin-bottom: 5%;
    width: 60%;
    position:relative
}

.btnMenu {
    border: 2px solid black;
    transform: translateX(-20px);
}